@{
    ViewData["title"] = "Operator TPS";
}

@section vendorcss {
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/responsive.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/buttons.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/rowGroup.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/select2/css/select2.min.css" />    
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css" />
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">*@
    <link rel="stylesheet" href="~/lib/sweetalert/sweetalert2.min.css" />
    @*<link rel="stylesheet" href="~/app-assets/css/plugins/forms/pickers/form-flat-pickr.min.css" />*@
    <link rel="stylesheet" href="~/css/fab.css" />
    <style>
        .flatpickr-wrapper {
            width: 100% !important;
        }
    </style>
}

<!--Modal Window-->
<div id='myModal' class='modal fade' data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row mb-2">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center
                justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Daftar Koordinator TPS</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:
                                void(0);">Transportasi Sampah</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:
                                void(0);">Data Referensi</a>
                            </li>
                            <li class="breadcrumb-item active">Operator TPS</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Tabel Operator TPS</h4>
                        <div class="dropdown chart-dropdown">
                            <i data-feather="more-vertical" class="font-medium-3 cursor-pointer" data-bs-toggle="dropdown"></i>
                            <div class="dropdown-menu dropdown-menu-end">
                                <button class="dropdown-item showMe" data-href="/transport/tps/operator/create">Tambah Operator</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="tblData" class="table table-bordered dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>Nama</th>                                    
                                    <th>NIK</th>
                                    <th>No HP</th>
                                    <th>Pegawai</th>
                                    <th>Status</th>
                                    <th>Bidang</th>
                                    <th>Kota</th>
                                    <th>Kecamatan</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="floating-button" class="showMe" data-href="/transport/tps/operator/create">+</button>

@section vendorjs {
    <script src="~/lib/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <!-- Required datatable js -->
    <script src="~/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>*@
}

@section scripts {
    <script src="~/js/modalForm.js"></script>
    <script src="~/pages/transport/tps/operator.js"></script>
}
